:root{
    --mouve-color:#7754f6;
    --pink-color:#f574ae;
    --light-gray:#ccc;
    --light-black:#666;
}

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

/* reset elements */

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

/* classes */

.relative{
    position: relative;
}

.flex-1{
    flex: 1;
}

.text-white{
    color: #fff;
}

.mouve{
    background-color: var(--mouve-color);
}

/* components */


.title{
    color: #333;
    font-size: 2.2rem;
    font-weight: 900;
}

.center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

select,button{
    background-color: inherit;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    appearance: none;
    cursor: pointer;
}

.select-wrapper::after{
    content: "\f078";
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-40%);
    z-index: 10;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    font-size: 15px ;
}

.btn{
    width: 120px;
    padding:.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background:var(--pink-color);
    border-radius: 25px;
    color: #fff;
}


.btn,.pink{
    transition: background-color .3s ease-in-out;
}
.btn:hover,.pink:hover{
    background-color:#fc117b;
}

.not-up-view{
    max-width:100vw;
    overflow: hidden;
}
.not-up-percinty{
    max-width:100%;
    overflow: hidden;
}
/* -------------------------- media ----------------------*/

@media (min-width:560px){
    .container{
       width:500px;
    }
}
@media (min-width:630px){
    .container{
       width:600px;
    }
}
@media (min-width:767px){
    .container{
       width: 750px;
    }
}
@media (min-width:900px){
    .container{
       width: 900px;
    }
}
@media (min-width:1200px){
    .container{
       width: 1100px;
    }
}
@media (min-width:1350px){
    .container{
       width: 1250px;
    }
}