
/* --------------------- header ----------------*/

.main-header{
    background-color:var(--mouve-color);
    color: #fff;
    padding: 1rem 0;
    font-weight:600;
    font-size: 1.2rem;
}

.main-header__tele {
    gap: .5rem;
}

/* --------------------- nav ----------------*/

.main-nav{
    padding: 1rem 0;
}

.components-links{
    position: relative;
    gap: 2rem;
    color:var(--mouve-color);
    font-size: 1.3rem;
}

.components-links li{
    position: relative;
}

.components-links li:after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--mouve-color);
    transition: transform .2s linear;
    transform: scale3d(0,1,1);
    transform-origin: left center;
}

.components-links li:hover:after{
    transform: scale3d(1,1,1);
}

.pages-links{
    gap: 1.5rem;
    color:var(--mouve-color);
    font-size: 1.5rem;
}
.pages-links li{
    transition: color .3s linear;
    font-weight: 700;
}
.pages-links li:hover{
  color:green;
}

.purshes-count{
    position: absolute;
    top: -4px;
    left: 6px;
    width: 30px;
    height: 25px;
    color: #fff;
    background:var(--pink-color);
    border-radius: 50%;
    text-align: center;
    font-size:1.1rem;
    transition: background-color .2s linear;
}

.card-icon-item:hover > a > .purshes-count{
    background-color:green
}

/* --------------------------- hero --------------------------*/

.hero{
    position: relative;
    background-color: var(--mouve-color);
    z-index: 0;
    
}

.container--hero{
    min-height: 450px;
}

.container--hero h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.container--hero p{
    line-height: 2;
    color:var(--light-gray);
    margin-bottom: 2rem;
}

.hero__img img{
    max-width: 100%;
}
.hero-top-wavy{
    position: relative;
    top: -.828rem;
    margin-bottom: 5px;
}
.hero-top-wavy , .hero-bottom-wavy{
    display: flex;
    width:100vw;
}
.hero-top-wavy img , .hero-bottom-wavy img{
    width:50%;
}
.hero-bottom-wavy{
    width: 100%;
    min-width: 100%;
    background: var(--mouve-color);
    margin-top: 5px;
}



@media (min-width:900px){
    .hero__img img{
        min-height: 450px;
    }
    .hero__intro{
        min-width: 500px;
    }
}
@media (min-width:1200px){
    
    .hero__img img{
        min-width: 700px;
        min-height: 550px;
    }
}


